<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="en">
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Admin panel</title>
</head>
<body>
         <!--up panel-->
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="">
        <span class="font-weight-bold" th:id="headInfo">
        </span>
    </a>
    <form class="form-inline" th:action="@{/logout}">
        <button type="submit" class="btn btn-dark ml-auto">Logout</button>
    </form>
</nav>
<div class="row">
        <!--    left panel-->
    <div class="col-5 col-lg-2">
        <div class="nav flex-column nav-pills pt-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" href="/index_page" sec:authorize="hasAuthority('ADMIN')" role="tab"
               aria-controls="v-pills-home" aria-selected="true">Admin</a>
            <a class="nav-link" href="/user" sec:authorize="(hasAnyAuthority('ADMIN', 'USER'))" role="tab"
               aria-controls="v-pills-profile" aria-selected="false">User</a>
        </div>
    </div>
         <!--    admin panel-->
    <div class="col-7 col-lg-10 bg-light">
        <div class="tab-pane fade show active" id="admin-panel" role="tabpanel" aria-labelledby="admin-panel-tab">
            <div class="container-fluid">
        <h1>Admin panel</h1>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" id="admin-tab" data-toggle="tab" href="#Userstable">User table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="new-tab" data-toggle="tab" href="#new">New User</a>
                </li>
            </ul>
        <!--            Admin navigation (User table/New user)  -->
                    <div class="card-body">
                        <div class="tab-content">
                    <div class="tab-pane fade show active" id="Userstable" aria-labelledby="home-tab">
                                <!--   User Table    -->
                            <table class="table table-striped">
                                <thead>
                                <td colspan="8"><h3>All Users</h3></td>
                                <tr>
                                    <th th:width="30">ID</th>
                                    <th th:width="100">First Name</th>
                                    <th th:width="100">Last Name</th>
                                    <th th:width="30">Age</th>
                                    <th th:width="100">Email</th>
                                    <th th:width="120">Role</th>
                                    <th th:width="60">Edit</th>
                                    <th th:width="60">Delete</th>
                                </tr>
                                </thead>
                                <tbody id="getTableWithUsers">
                                </tbody>
                            </table>
                    </div>

                            <!--New User-->
                            <div class="tab-pane fade" id="new" role="tabpanel" aria-labelledby="new-tab">
                                <div class="card">
                                    <h5 class="card-header">Add new user</h5>
                                    <div class="card-body">
                                        <form id="addUserForm">
                                            <div class="col-md-3 offset-md-4 text-center">
                                                <div class="form-group">
                                                    <label class="font-weight-bold">First name</label>
                                                    <input type="text" id="usernameNewUser"
                                                           name="username" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label class="font-weight-bold">Last Name</label>
                                                    <input type="text" id="lastNameNewUser"
                                                           name="lastName" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label class="font-weight-bold">Age</label>
                                                    <input type="number" id="ageNewUser"
                                                           name="age" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label class="font-weight-bold">Email</label>
                                                    <input type="email" id="emailNewUser"
                                                           name="email" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label class="font-weight-bold">Password</label>
                                                    <input type="password" id="passwordNewUser"
                                                           name="password" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label class="font-weight-bold">Role:</label>
                                                        <select class="custom-select" name="rolesSelect" id="newRoles" size="2" multiple>
                                                        </select>
                                                </div>
                                                <span class="font-weight-bold"></span>
                                                <button type="submit" class="btn btn-success btn-lg" id="addNewUserButton" >Add new user</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
                <!--Modal window-->
<div class="modal fade" id="someDefaultModal" tabindex="-1" role="dialog" aria-labelledby="someDefaultModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>

            <div class="modal-body">
            </div>

            <div class="modal-footer">
            </div>

        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="/main.js"></script>
</body>
</html>